* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.searchBar {
  background: #333333;
  border: none;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 24px;
}

.theme {
  color: #ad48c8 !important;
}
.icons {
  color: #ad48c8;

  padding: 5px;
  margin-left: 15px;
  margin-right: 10px;
}
.material-icons {
  font-size: 28px;
}
.inputField {
  background: #333333;
  border: none;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
}
.inputField:focus {
  background: #333333;
  border: none;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
}
.submit {
  display: block;
  background: #ad48c8;
  border-color: #ad48c8;
  color: #212121;
  width: 180px;
  height: 40px;
  font-weight: 800;
  margin: 30px auto;
  border-radius: 24px;
}
.submit:hover {
  background: #ad48c8;
  border-color: #ad48c8;
  color: #212121;
  font-weight: 800;
  text-decoration: none;
}
::placeholder {
  color: white !important;
}
.curve {
  border-radius: 15px;
}

.category {
  background: #333333;
  width: 100%;
  border: none;
}
.upload {
  background: #333333;
  border: none;
  width: 120px;
  height: 100px;
}
.backup_outlined {
  font-size: 50px !important;
  color: white;
  box-sizing: border-box;
  padding: 0;
  margin-left: 45px;
}
.lab {
  display: inline;
  color: white;
}

.head {
  margin-top: 30px;
  background: #333333;
  border-radius: 18px;
  padding: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.descrip {
  color: white;
  margin-top: 30px;
  width: 90%;
  text-align: justify;
}
.cat {
  background: #333333;
  border-radius: 18px;
  text-align: center;
  vertical-align: middle;

  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.8);
}
p {
  margin-bottom: 0;
}
.line {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box {
  display: flex;

  border: none;
  margin: 20px auto;
  padding: 20px 30px;
  background-color: #333333;
  border-radius: 24px;
  align-items: center;
  justify-content: space-between;
}
.icon {
  display: inline;
}
.desc {
  display: inline;
  color: rgba(255, 255, 255, 0.8);
}

.viewButton {
  display: inline;
  float: right;
  background-color: #fa743f;
  color: white;
  border: none;
}

.viewButton:hover {
  color: white;
  transform: scale(1.05);
}

.project {
  margin: 10px auto;

  align-items: center;
}

.uploadPhoto {
  font-size: 100px !important;
  color: #ad48c8;
  box-sizing: border-box;
  padding: 5px;
  margin-left: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: -180px;
}
.uploadDP {
  background: #333333;
  border: none;
  height: 140px;
  padding: 5px;
}

.topSection {
  position: relative;
  align-items: center;
  justify-content: center;
}

.topSection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
}

.greyDiv {
  background-color: grey;
  padding: 2px auto;
  text-align: center;
  border-radius: 5px;

  font-weight: 800;
}
